$icomoon-font-path: "fonts" !default;

$icon-chevron-right: "\e90f";
$icon-chevron-left: "\e910";
$icon-heart: "\e90a";
$icon-logo: "\e900";
$icon-search: "\e901";
$icon-cart: "\e902";
$icon-close: "\e903";
$icon-social-facebook: "\e904";
$icon-arrow-right: "\e905";
$icon-chevron-thin-down: "\e906";
$icon-chevron-thin-left: "\e907";
$icon-chevron-thin-right: "\e908";
$icon-chevron-thin-up: "\e909";
$icon-google: "\e90b";
$icon-instagram: "\e90c";
$icon-pinterest: "\e90d";
$icon-twitter: "\e90e";

