$basket-border-color:   #000;

.basket-block{
	padding: 20px 15px;
	margin: 0 -15px;
	overflow: hidden;
	&.close{
		display: none;
	}
	&:nth-child(2){
		box-shadow: 0 1px 0 0 $basket-border-color,
					0 -1px 0 0 $basket-border-color;
	}
	@media screen and (min-width: 768px){
		margin: 0 60px;
		box-shadow: 0 1px 0 0 $basket-border-color;
		&:nth-child(2){
			box-shadow: 0 1px 0 0 $basket-border-color;
		}
		&:first-child{
			box-shadow: 0 -1px 0 0 $basket-border-color,
						0 1px 0 0 $basket-border-color;
		}
	}
	@media screen and (min-width: 960px){
		padding: 0;
	}
	.image-holder{
		overflow: hidden;
		margin: 0 -15px;
		img{
			position: relative;
			z-index: -1;
		}
		@media screen and (min-width: 768px){
			margin: 0;	
			img{
				margin: 0;
			}
		}
	}
	.info-block{

		.caption{
			text-align: right;
			h3{
				display: none;
				@media screen and (min-width: 768px){
					display: block;
					font-weight: 400;
					margin-bottom: 0;
				}
			}
			p{
				font-size: 13px;
				@media screen and (min-width: 420px){
					font-size: $font-size-h4;	
				}
				@media screen and (min-width: 960px){
					font-size: $font-size-h3;
				}
			}
			@media screen and (min-width: 768px){
				margin: -7px 0 0 0;
			}
			@media screen and (min-width: 960px){
				text-align: left;
			}
		}
		form{
			order: 1;
			text-align: right;
			.counter{
				@media screen and (min-width: 768px){
					margin: 5px 0 0 -6px;
				}
			}
			@media screen and (min-width: 960px){
				order: 0;
				text-align: left;
			}
		}
		.price{
			font-size: 16px;
			font-weight: 700;
			margin: 11px 3px 17px 0;
			text-align: right;
			letter-spacing: 2px;
			@media screen and (min-width: 420px){
				font-size: $font-size-h4;
			}
			@media screen and (min-width: 960px){
				font-size: $font-size-h3;
				margin: 0;
				text-align: left;
			}
		}
	}
	.btn-block{
		.btn{
			display: none;
		}
		a{
			display: inline-block;
			&:hover{
				text-decoration: none;
			}
			[class*="icon-"]{
				font-size: 24px;
				margin-right: -8px;
			}
		}
		@media screen and (min-width: 1080px){
			[class*="icon-cart"]{
				display: none;
			}
			.btn{
				display: inline-block;
				justify-content: flex-end;
			}
		}
	}
	&-sm{
		&:nth-child(2){
			.image-holder{
				@media screen and (min-width: 1240px){
					padding-right: 9px;
				}	
			}
		}
		@media screen and (min-width: 1240px){
			margin: 0 140px 1px 140px;
		}
		.image-holder{
			img{
				@media screen and (min-width: 1240px){
					transform: translate(10px, 0px);
				}
			}
		}
		.info-block{
			@media screen and (min-width: 768px){
				.caption{
					margin-top: -16px;
					padding-left: 65px;
				}
				form{
					transform: translate(-9px, 6px);
				}
				.price{
					transform: translate(-12px, 13px);
				}
			}
		}

		.btn-block{
			text-align: center;
			@media screen and (min-width: 768px){
				text-align: left;
				a{
					transform: translate(22px, 0px);
				}
			}
		}
	}
	&-total{
		box-shadow: 0 1px 0 0 $basket-border-color;
		padding: 0 0 7px 0;
		@media screen and (min-width: 768px){
			padding: 27px 0 45px 0;
		}
		.info-block{
			.caption{
				letter-spacing: 1px;
				text-align: left;
				margin:0 0 0 2px;
				@media screen and (min-width: 768px){
					margin-right: 128px;
					text-align: right;
					margin: 0;
				}
				h3{
					display: inline-block;
					font-size: 19px;
					margin: 0 0 0 30px;
					@media screen and (min-width: 768px){
						font-size: $font-size-h3;
						margin: 0;
					}	
				}
			}
			.price{
				font-size: 19px;
				text-align: left;
				margin: 16px 0 0 -3px;
				@media screen and (min-width: 960px){
					font-size: $font-size-h3;
					margin: 3px 0 0 0;
				}	
			}
		}
	}
}
