$basket-border-color:   #000;

.basket-block{
	&.close{
		display: none;
	}
	&:nth-child(2){
		box-shadow: 0 1px 0 0 $basket-border-color,
					0 -1px 0 0 $basket-border-color;
	}
	@media screen and (min-width: 768px){
		margin: 0 60px;
		box-shadow: 0 1px 0 0 $basket-border-color;
		&:nth-child(2){
			box-shadow: 0 1px 0 0 $basket-border-color;
		}
		&:first-child{
			box-shadow: 0 -1px 0 0 $basket-border-color,
						0 1px 0 0 $basket-border-color;
		}
	}
	.image-holder{
		img{
			margin: 20px 0 0 -15px;
		}
		@media screen and (min-width: 768px){	
			img{
				margin: 0;
			}
		}
	}
	.info-block{
		.caption{
			text-align: right;
			h3{
				display: none;
				@media screen and (min-width: 768px){
					display: block;
					font-weight: 400;
					margin-bottom: 0;
				}
			}
			p{
				font-size: 13px;
				@media screen and (min-width: 420px){
					font-size: $font-size-h4;	
				}
				@media screen and (min-width: 960px){
					font-size: $font-size-h3;
				}
			}
			@media screen and (min-width: 768px){
				margin: -7px 0 0 0;
			}
			@media screen and (min-width: 960px){
				text-align: left;
			}
		}
		form{
			order: 1;
			text-align: right;
			.counter{
				@media screen and (min-width: 768px){
					margin: 5px 0 0 -6px;
				}
			}
			@media screen and (min-width: 960px){
				order: 0;
				text-align: left;
			}
		}
		.price{
			font-size: 16px;
			font-weight: 700;
			margin: 11px 3px 17px 0;
			text-align: right;
			@media screen and (min-width: 420px){
				font-size: $font-size-h4;
			}
			@media screen and (min-width: 960px){
				font-size: $font-size-h3;
				margin: 0;
				text-align: left;
			}
		}
	}
	.btn-block{
		.btn{
			display: none;
		}
		a{
			&:hover{
				text-decoration: none;
			}
			[class*="icon-"]{
				font-size: 24px;
				margin-right: -8px;
			}
		}
		@media screen and (min-width: 1080px){
			[class*="icon-cart"]{
				display: none;
			}
			.btn{
				display: inline-block;
				justify-content: flex-end;
			}
		}
	}
	&-sm{
		margin: 0 -15px;
		&:nth-child(2){
			padding-bottom: 8px;
		}
		@media screen and (min-width: 960px){
			margin: 0 140px 9px 140px;
		}
		.image-holder{
			img{
				
			}
			@media screen and (min-width: 768px){
				img{
					margin: 0;
				}
			}
			@media screen and (min-width: 960px){
				img{
					transform: translate(22px, 9px);
				}
			}
		}
		.info-block{
			@media screen and (min-width: 768px){
				.caption{
					margin-top: -16px;
				}
				form{
					transform: translate(-18px, -2px);
				}
			}
		}

		.btn-block{
			a{
				[class*="icon-"]{
					margin-right: 7px;
				}
			}
		}
	}
	&-total{
		padding: 20px 0 30px 0;
		.info-block{
			h3{
				font-size: 19px;
				@media screen and (min-width: 768px){
					font-size: $font-size-h3;
				}	
			}
			.price{
				font-size: 19px;
				@media screen and (min-width: 960px){
					font-size: $font-size-h3;
				}	
			}
		}
	}
}
