 $breadcrumb-color:    rgba($brand-color, .78);
 $breadcrumb-fz:       19px;
 $breadcrumb-margin:     3px;
 $breadcrumb-letter-spacing:    0.7px;


.breadcrumb {
  list-style-type: none;
  font-size: 0;
   @media screen and (max-width: 960px){
        display: none;
      }
  li {
    color:  $breadcrumb-color;
    font-size: $breadcrumb-fz;
    margin: $breadcrumb-margin;
    display: inline-block;
    cursor: pointer;
    letter-spacing: $breadcrumb-letter-spacing;
      &::after {
        content: '/';
      }
      &:last-of-type {
        &::after {
          content: '';
      }
    }
  }
}





  