 $breadcrumb-color:    #6c6c6c;
 $breadcrumb-fz:       21px;
 $breadcrumb-margin:     3px;
 $breadcrumb-letter-spacing:    1.3px;


ol {
  list-style-type: none;
  font-size: 0;
  margin: 16px 0;
   @media screen and (max-width: 480px){
        display: none;
      }
  li {
    color:  $breadcrumb-color;
    font-size: $breadcrumb-fz;
    margin: $breadcrumb-margin;
    display: inline-block;
    cursor: pointer;
    letter-spacing: 1.3px;
      &::after {
        content: ' / ';
      }
      &:last-of-type {
        &::after {
          content: '';
      }
    }
  }
}





  