@import 'icons/variables';

.block-trade{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 48px;
	margin-bottom: 119px;
	&-image{
		width: 290px;
		overflow: hidden;
		position: relative;
		@media screen and (min-width: 768px){
			width: 470px;
		}
		@media screen and (min-width: 1370px){
			width: 617px;
		}
	}
	&-text{
		width: 100%;
		text-align: justify;
		.spec{
			margin-bottom: 62px;
		}
		@media screen and (min-width: 768px){
			width: 402px;
		}
	}
	&-title{
		margin-bottom: 38px;
		padding-left: 15px;
		.name{
			margin-top: 0;
			letter-spacing: 4px;
			margin-bottom: 39px;
		}
	}
	&-description{
		margin-bottom: 75px;
		padding-left: 15px;
	}
	&-buttons{
		margin-right: 0;
		display: flex;
		@media screen and (min-width: 768px){
			margin-right: -22px;
		}
		.btn-sm{
			display: none;
			@media screen and (min-width: 768px){
				display: block;
			}
		}
	}
}
.selection{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 31px;
	.feature{
		margin-right: 20px;
		min-width: 110px;
		letter-spacing: 2px;
	}
}
.title-options{
	margin-bottom: 64px;
}
.owl{
	&-prev,
	&-next{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		cursor: pointer;
		&:before{
			font-family: 'icomoon';
			font-size: 35px;
			font-weight: 300;
			opacity: .5;
			@media screen and (min-width: 768px){
				font-size: 58px;
			}
		}
	}
	&-prev{
		left: 0;
		&:before{
			content: $icon-chevron-left;
		}
	}
	&-next{
		right: 2px;
		&:before{
			content: $icon-chevron-right;
		}
	}
	&-item{
		width: 617px;
		padding: 15px;
		@media screen and (min-width: 768px){
			padding: 28px;
		}
	}
}

// .magnifier{
// 	width: 400px !important;
// 	height: 400px !important;
// 	left: 860px !important;
//     top: 410px !important;
//     @media screen and (min-width: 1370px){
// 		left: 1200px !important;
// 	}
// }

// .magnifier,
// .cursorshade,
// .statusdiv{
// 	display: none;
// 	@media screen and (min-width: 768px){
// 		display: block;
// 	}
// }
.price{
	font-size: 16px;
	font-weight: 700;
	margin: 11px 3px 17px 0;
	@media screen and (min-width: 420px){
		font-size: $font-size-h4;
	}
	@media screen and (min-width: 960px){
		font-size: $font-size-h3;
		margin: 0;
	}
}