$form-color-light: #fff;
$form-color-dark: #000;
$form-border: #333333;

@mixin placeholder ($color, $font-size, $opacity: 1) {
	&::-webkit-input-placeholder {color:$color; font-size: $font-size; opacity: $opacity; transition: opacity 0.5s;}
	&::-moz-placeholder          {color:$color; font-size: $font-size; opacity: $opacity; transition: opacity 0.5s;}
	&:-moz-placeholder           {color:$color; font-size: $font-size; opacity: $opacity; transition: opacity 0.5s;}
	&:-ms-input-placeholder      {color:$color; font-size: $font-size; opacity: $opacity; transition: opacity 0.5s;}
	&:focus {
		&::-webkit-input-placeholder {opacity: 0;}
		&::-moz-placeholder          {opacity: 0;}
		&:-moz-placeholder           {opacity: 0;}
		&:-ms-input-placeholder      {opacity: 0;}
	}
}

@mixin color-shadow ($color, $font-size, $font-size-media) {
	@include placeholder($color, $font-size);
	color: $color;
	box-shadow: 0 -1px 0 0 $color inset;
	font-size: $font-size;
	&:focus {
		box-shadow: 0px 0px 0 1px $color inset;
	}
	@media screen and (max-width: 768px) {
		@include placeholder($color, $font-size-media, 0.5);
		box-shadow: 0 -1px 0 0 lighten($color, 50%) inset;
		font-size: $font-size-media;
		&:focus {
			box-shadow: 0 -1px 0 0 $color inset;
		}
	}
}

@mixin form-inversed-style ($color, $font-size, $font-size-media) {
	@include placeholder($color, $font-size);
	color: $color;
	font-size: $font-size;
	box-shadow: 0 -1px 0 0 $color inset;
	@media screen and (max-width: 768px) {
		@include placeholder($color, $font-size-media, 1);
		color: $color;
		font-size: $font-size-media;
	}
	input{
		width: 100%;
	}
	input,button {
		color: $color;
	}
}
/* form-order */
.form-holder{
	padding: 40px 0 170px;
}
.head-form {
	text-align: center;
	padding: 10px 20px;
	margin-bottom: 70px;
}
.form-group-holder{
	width: 80%;
	margin: 0 auto;
	transition: height 0.5s;
	@media screen and (max-width: 768px) {
		width: 100%;
	}
}
.form-group {
	.form-group-holder & {
		margin-bottom: 50px;
	}
	&-bottom {
		padding-top: 12px;
		@media screen and (max-width: 768px) {
			box-shadow: 0 -1px 0 0 lighten($form-color-dark, 50%) inset;
			padding: 23px 14px 17px;
			font-size: 16px;
			color: lighten($form-color-dark, 50%);
		}
	}
}
.form-control {
	border: 0;
	background: none;
	transition: all 0.5s;
	outline: 0;

	&-border {
		@include color-shadow($form-color-dark, 18px, 16px);
		width: 100%;
		padding: 15px 10px 15px 0;
		&:focus {
			padding: 15px 5px;
		}
		@media screen and (max-width: 768px) {
			padding: 25px 15px;
			&:focus {
				padding: 25px 15px;
			}
		}
	}
	&-sm {
		font-size: 18px;
		padding: 15px 5px;
		transition: all 0s;
		box-shadow: 0px 0px 0 1px $form-color-dark;
		height: 39px;
		margin: 0 10px;
		width: 35%;
		@media screen and (max-width: 1420px) {
			width: 30%;
		}
		@media screen and (max-width: 1100px) {
			width: 27%;
		}
		@media screen and (max-width: 768px) {
			width: 46px;
			height: 28px;
			font-size: 16px;
		}
	}
}

@media screen and (max-width: 768px) {
	.form-holder {
		margin: 0 -15px;
		padding: 20px 0 0;
		.row {
	    margin-left: 0;
	    margin-right: 0;
	    [class*="col"] {
		    padding-left: 0;
		    padding-right: 0;
	    }
		}
		.head-form {
			font-size: 16px;
			text-align: left;
			padding: 20px 25px;
			background: #ebebeb;
			cursor: pointer;
			margin-bottom: 0;
			margin-top: 0;
			box-shadow: 0px 0px 0 1px lighten($form-color-dark, 60%);
			transition: box-shadow 0.5s;
			position: relative;
			&:after{
				content: "";
				position: absolute;
				right: 50px;
				top: 60%;
				width: 15px;
				height: 15px;
				border: 1px solid lighten(#000, 35%);
				border-width: 1px;
				border-color: lighten(#000, 35%) transparent transparent lighten(#000, 35%) ;
				transform: scale(1.3, 1) translateY(-50%) rotate(45deg);
				transition: all 0.4s;
			}
		}
		.head-form.active {
			box-shadow: 0px 0px 0 1px $form-color-dark;
			&:after{
				top: 45%;
				transform: scale(1.3, -1) translateY(50%) rotate(45deg);
			}
		}
		.head-form.active + .form-group-holder {
			display: block;
		}
	}
	.form-group-holder {
		display: none;
		.form-group{
			margin: 0;
		}
	}
}


.form-inversed {
	position: relative;
	padding: 5px 0;
	&-dark {
		width: 130px;
		@include form-inversed-style ($form-color-dark, 14px, 10px);
	}
	&-light {
		@include form-inversed-style ($form-color-light, 14px, 10px);
	}

	button {
		position: absolute;
		right: 0;
		top: 0;
		background: none;
		border: 0;
		font-size: 20px;
		cursor: pointer;
	}
}

#search {
	position: absolute;
	animation: anim-search 0.5s linear both;
	display: none;
	top: 55px;
	@media screen and (max-width: 768px) {
		top: 35px;
	}
}
@keyframes anim-search {
	from{transform: translateY(0);}
	to{transform: translateY(15%);}
}

.newsletters {
	@media screen and (max-width: 768px) {
		width: 65%;
		margin: 0 auto;
	}
	@media screen and (max-width: 470px) {
		width: 80%;
		margin: 0 auto;
	}
	h4{
		text-align: center;
	}
}
