$opener-color: #1d1d1b;

.header{
	padding: 20px 0 19px;
	@media screen and (min-width: 768px){
		padding: 62px 0 60px;
	}
	&-holder{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		position: relative;
	}
	&-inner{
		display: flex;
		flex-direction: column;
		&-column{
			width: auto;
			margin-bottom: 25px;
			margin-left: 65px;
			@media screen and (min-width: 769px){
				width: 19%;
				margin-bottom: 0;
				margin-left: 0;
			}
			@media screen and (min-width: 992px){
				width: 17%;
			}
			@media screen and (min-width: 992px){
				width: 16%;
			}
		}
		&-center{
			order: 1;
			width: 100%;
			@media screen and (min-width: 769px){
				order: 0;
				width: auto;
			}
		}
	}
	.logo{
		display: none;
		font-size: 56px;
		font-size: 40px;
		&:hover{
			text-decoration: none;
		}
		@media screen and (min-width: 768px){
			display: block;
		}
		@media screen and (min-width: 992px){
			font-size: 50px;
		}
		@media screen and (min-width: 1024px){
			font-size: 56px;
		}
	}
	.list{
		align-self: flex-end;
	}
}
.main-nav{
	.opener-menu{
		display: block;
		position: absolute;
		overflow: hidden;
		margin-top: 1px;
		margin-left: -3px;
		padding: 0;
		width: 31px;
		height: 22px;
		font-size: 0;
		text-indent: -9999px;
		box-shadow: none;
		border: none;
		cursor: pointer;
		transition: background 0.3s;
		top: 0;
		left: 0px;
		background: none;
		&:focus{
			outline: none;
		}
		span{
			display: block;
			position: absolute;
			top: 10px;
			left: 3px;
			right: 1px;
			height: 3px;
			background: $opener-color;
			box-shadow: none;
			&:before,
			&:after{
				position: absolute;
				display: block;
				left: 0;
				width: 100%;
				height: 3px;
				background-color: $opener-color;
				content: '';
			}
			&:before{
				top: -8px;
				box-shadow: 0px 1px 0 0px #aaa;
			}
			&:after{
				bottom: -7px;
				box-shadow: 0px -1px 0 0px #aaa;
			}
			@media screen and (min-width: 769px){
				box-shadow: 0px -1px 0 0px #aaa;
			}
		}
	}
	.opener-x{
		span{
			transition: background 0.3s 0s;
			&:before,
			&:after{
				transition-duration: 0.3s, 0.3s;
				transition-delay: 0s, 0s;
			}
			&:before{
				transition-property: top, transform;
			}
			&:after{
				transition-property: bottom, transform;
			}
		}
		&.active{
			span{
				background: none;
				&:before,
				&:after{
					transition-delay: 0s, 0s;
				}
				&:before{
					top: 0;
					transform: rotate(45deg);
				}
				&:after{
					bottom: 0;
					transform: rotate(-45deg);
				}
			}
		}
	}
	@media screen and (min-width: 769px){
		.opener-menu{
			display: none;
		}
	}
}
.nav{
	display: none;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	padding: 50px 0 57px;
	> li{
		> a{
			display: inline-block;
			padding: 19px 35px 18px;
			letter-spacing: 2px;
		}
	}
	@media screen and (min-width: 769px){
		display: flex;
		text-align: justify;
		font-size: 18px;
		padding: 0;
		> li{
			> a{
				padding: 0 35px;
				padding: 0 11px;
			}
		}
	}
	@media screen and (min-width: 992px){
		font-size: 24px;
		> li{
			> a{
				padding: 0 20px;
			}
		}
	}
	@media screen and (min-width: 1024px){
		> li{
			> a{
				padding: 0 24px;
			}
		}
	}
	@media screen and (min-width: 1200px){
		> li{
			> a{
				padding: 0 35px;
			}
		}
	}
}

