.page-header{
	 padding:10px 0;
	 .h2{
	 	font-size: 24px;
		color: $brand-color;
		letter-spacing: 2px;
		margin: 0;
		[class*="icon-"]{
			padding-right: 35px;
			font-size: 22px;
			@media screen and (max-width: 320px){
				padding-right: 22px;
				letter-spacing: 1px;
    		}
		}
	 }
	@media screen and (max-width: 320px){
		background: #ebebeb;
		margin: 10px -15px;
	}
	&-lg{
		.h2{
			[class*="icon-"]{
				font-size: 29px;
				@media screen and (max-width: 320px){
					font-size: 30px;
	    		}
			}
		}
	}
}