.product-card{
	display: flex;	
	position: relative;
	overflow: hidden;
	margin-bottom: 18px;
	.wish{
		display: none;
	}
	.product-caption{
		margin-top: 40px;
		min-width: 32%;
		h3{
			font-size: 16px;
			margin-bottom: 9px;
			font-weight: 400;
		}
		p{
			font-size: 13px;
			margin-bottom: 37px;
		}
		.list-icons{
			margin-left: 2px;
		}
	
	}
	.price{
		font-size: 19px;
		font-weight: 700;
		transform: rotate(-90deg);
		position: absolute;
		bottom: 36%;
		left: -16px;
		z-index: 10;
	}
	.image-holder{
		margin-top: 22px;
	}
	@media screen and (min-width: 768px){
		flex-direction: column;
		align-items: center;
		max-height: 390px;
		.price{
			font-size: 30px;
			bottom: 19%;
			left: -22px;
		}
		&:before{
				content: "";
				border-top: 1px solid $brand-color;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				transform: translateX(-100%);
				transition: all 1s;
			}
		&:after{
			content: "";
			border-left: 1px solid $brand-color;
			position: absolute;
			bottom: 0;
			top: 0;
			right: 0;
			transform: translateY(100%);
			transition: all 1s;
			transition-delay: 1s;
		}
		.product-caption{
			transform: translateX(300%);
			align-self: flex-end;
			text-align: right;
			transition: transform 1s;
			margin: 0 40px 12px 0;
			h3{
				margin-bottom: -5px;
				
				font-size: $font-size-h3;
			}
			p{
				font-size: $font-size-h4;
				margin-bottom: 0;
			}
			.list-icons{
				display: none;
			}
		}
		.image-holder{
			margin-top: 0;
			position: relative;
			img{
				margin-left: -39px;
				margin-top: 41px;
			}
		}
		&:hover{
			&:before{
				transform: translateX(0);
			}
			&:after{
				transform: translateY(0);
			}
			.wish{
				display: block;
				position: absolute;
				top: 16px;
				left: 0;
				font-size: 25px;
				z-index: 10;
			}
			.image-holder{
				margin-bottom: -44px;
				img{
					margin: 0;
				}
			}
			.product-caption{
				transform: translateX(0);
			}
		}
	}
	// @media screen and (min-width: 960px){
	// 	height: 310px;
	// }
	// @media screen and (min-width: 1420px){
	// 	height: 390px;
	// }
}