@import 'modules/variables';
@import 'modules/grid';
@import 'modules/reset';
@import 'modules/type';
@import 'modules/icons/style';
@import 'modules/navigation';
@import 'modules/lists';
@import 'modules/product-card';
@import 'modules/counter';
@import 'modules/block-options';
@import 'modules/basket-block';
@import 'modules/carousel';
@import 'modules/thumbnails';
@import 'modules/blocks';
@import 'modules/intro';


@font-face {
    font-family: 'Microsoft PhagsPa';
    src: url('../fonts/Microsoft PhagsPa.ttf');
    src: url('../fonts/Microsoft PhagsPa.eot');
    src: url('../fonts/Microsoft PhagsPa.otf');
    src: url('../fonts/Microsoft PhagsPa.woff');
    src: url('../fonts/Microsoft PhagsPa.woff2');

    font-weight: normal;
    font-style: normal;
}
.pp{
	position: absolute;
	top: 0;
	opacity: 0.5;
	left: 50%;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
	pointer-events: none;
	z-index: 999;
}

